version: "3.9"

services:
  ambilight-extractor:
    build:
      context: .
      dockerfile: Dockerfile.extractor
    container_name: ambilight-extractor
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ${PWD:-.}:/app
      - ${DATA_PATH:-./data}:/app/data
      - ${MOVIES_PATH:-./test-media/movies}:/media/movies:ro
      - ${TV_PATH:-./test-media/tv}:/media/tv:ro

    networks:
      - homelab-network

  ambilight-player:
    build:
      context: .
      dockerfile: Dockerfile.player
    container_name: ambilight-player
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ${PWD:-.}:/app
      - ${DATA_PATH:-./data}:/app/data
      - ${MOVIES_PATH:-./test-media/movies}:/media/movies:ro
      - ${TV_PATH:-./test-media/tv}:/media/tv:ro
    networks:
      - homelab-network

volumes:
  ambilight-data:

networks:
  homelab-network:
    external: true
